<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://sethburkart123.github.io/sf-pro-fonts/fonts.css">
</head>
<body>
<div class="video-bg">
 <video width="1920" height="1080" autoplay loop muted>
  <source src="static/aura/aura.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>




<div class="app">
 <div class="header">

<!--  <div class="menu-circle"></div>--><div class=""></div>
   <div class="header-menu">

   <a class="content-button" href="">Home</a>
   <a class="content-button" href="#">Cloud</a>
       <a class="" href=""> </a>
   <a class="" href="#"> </a>
  </div>

  <div class="search-bar">
   <input type="text" placeholder="Search">
  </div>
<!--      <div class="header-menu">-->

<!--   <a class="content-button" href="">Home</a>-->
<!--   <a class="content-button" href="#">Cloud</a>-->
<!--  </div>-->
  <div class="header-profile">
   <div class="notification">
    <a class="content-button" href="">Settings</a>
       <a class="content-button" href="#">Profile</a>
   </div>

   <img class="profile-img" src="static/img/test.png" alt="">
  </div>
 </div>





{% include 'files/left_panel.html' %}


  <div class="main-container">
   <div class="main-header">
<!--    <a class="menu-link-main" href="#">All Apps</a>-->
    <div class="header-menu">
<!--     <a class="main-header-link is-active" href="#">Desktop</a>-->
<!--     <a class="main-header-link" href="#">Mobile</a>-->
<!--     <a class="main-header-link" href="#">Web</a>-->

    </div>
   </div>
   <div class="content-wrapper">
       <div class="content-section">
     <div class="content-section-title"></div>
           <div class="apps-card">
     </div>




    <div class="content-section">
     <div class="content-section-title">Installed</div>
        {% for files in object_list %}

     <ul>
      <li class="adobe-product">
       <div class="products">
        <svg viewBox="0 0 52 52" style="border:1px solid #b65a0b">
         <g xmlns="http://www.w3.org/2000/svg">
          <path d="M40.824 52H11.176C5.003 52 0 46.997 0 40.824V11.176C0 5.003 5.003 0 11.176 0h29.649C46.997 0 52 5.003 52 11.176v29.649C52 46.997 46.997 52 40.824 52z" fill="#261400" data-original="#6d4c13" />
          <path d="M30.68 39h-3.24l-2.76-9.04h-8.32L13.72 39H10.6l8.24-28h3.32l8.52 28zm-6.72-12l-3.48-11.36L17.12 27h6.84zM37.479 12.24c0 .453-.16.84-.48 1.16-.32.319-.7.479-1.14.479-.44 0-.827-.166-1.16-.5-.334-.333-.5-.713-.5-1.14s.166-.807.5-1.141c.333-.333.72-.5 1.16-.5.44 0 .82.16 1.14.48.321.322.48.709.48 1.162zM37.24 39h-2.88V18.96h2.88V39z" fill="#e6d2c0" data-original="#ffbd2e" />
         </g>
        </svg>
           <a href="{{files.uploaded_file.url}}" download>
        {{files.file_name}}
               </a>
       </div>

       <span class="status">
        <span class="status-circle"></span>
        Update Available</span>
       <div class="button-wrapper">
        <button class="content-button status-button">Update this app</button>
        <div class="pop-up">
         <div class="pop-up__title">Update This App
          <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
           <circle cx="12" cy="12" r="10" />
           <path d="M15 9l-6 6M9 9l6 6" />
          </svg>
         </div>
         <div class="pop-up__subtitle">Adjust your selections for advanced options as desired before continuing. <a href="#">Learn more</a></div>
         <div class="checkbox-wrapper">
          <input type="checkbox" id="check1" class="checkbox">
          <label for="check1">Import previous settings and preferences</label>
         </div>
         <div class="checkbox-wrapper">
          <input type="checkbox" id="check2" class="checkbox">
          <label for="check2">Remove old versions</label>
         </div>
         <div class="content-button-wrapper">
          <button class="content-button status-button open close">Cancel</button>
          <button class="content-button status-button">Continue</button>
         </div>
        </div>
        <div class="menu">
         <button class="dropdown">
          <ul>
           <li><a href="#">Go to Discover</a></li>
           <li><a href="#">Learn more</a></li>
           <li><a href="#">Uninstall</a></li>
          </ul>
         </button>
        </div>
       </div>
      </li>
<!--         <div style="height: 20px;"></div>-->
     </ul>
        <div style="height: 68px;">
        </div>
        {% endfor %}
    </div>

    </div>
   </div>
  </div>
 </div>
 <div class="overlay-app"></div>
</div>
<script src="/static/js/design.js"></script>
</body>
</html>