<!--<footer class="pt-4 my-md-5 pt-md-5 border-top">-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-md">-->
<!--                SkyStore-->
<!--                <small class="d-block mb-3 text-muted">&copy; 2023</small>-->
<!--            </div>-->
<!--            <div class="col-6 col-md">-->
<!--                <h5>Категории</h5>-->
<!--                <ul class="list-unstyled text-small">-->
<!--                    <li><a class="text-muted" href="#">Рассылки</a></li>-->
<!--                    <li><a class="text-muted" href="#">Телеграм боты</a></li>-->
<!--                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>-->
<!--                    <li><a class="text-muted" href="#">Веб-приложения</a></li>-->
<!--                    <li><a class="text-muted" href="#">Микросервисы</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-6 col-md">-->
<!--                <h5>Дополнительно</h5>-->
<!--                <ul class="list-unstyled text-small">-->
<!--                    <li><a class="text-muted" href="#">Мы пишем</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col-6 col-md">-->
<!--                <h5>О нас</h5>-->
<!--                <ul class="list-unstyled text-small">-->
<!--                    <li><a class="text-muted" href="#">Контакты</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--</footer>-->
<div class="wrapper">
  <div class="left-side">
   <div class="side-wrapper">


                    <div class="side-menu">
                     <div class="">
                     <a href="#" class="content-button" >
                      <div class="img-content">
                       <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <clipPath id="clip105_94">
                                    <rect id="cloud-upload" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
                                </clipPath>
                            </defs>
                            <rect id="cloud-upload" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
                            <g clip-path="url(#clip105_94)">
                                <path id="Vector" d="M9.6 23.12L7.29 23.12C4.99 23.12 3.12 21.06 3.12 18.53C3.12 16.66 4.49 15.28 6.21 14.94C7.17 14.75 8.12 14.04 8.3 13.08C8.96 9.58 11.41 6.87 14.59 6.87C16.97 6.87 19.24 8.25 20.23 11C20.52 11.79 21.32 12.34 22.16 12.42C24.7 12.66 26.87 14.7 26.87 17.24C26.87 20.48 24.47 23.12 21.52 23.12L19.21 23.12" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
                                <path id="Vector" d="M14.37 25L14.37 15M18.12 18.57L14.37 15L10.62 18.57" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
                            </g>
                       </svg>

                      Upload
                      </div>
                     </a>

                      </div>
                     <a href="#" class="content-button">
                      <div class="img-content">

                      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <desc>
                            Created with Pixso.
                    </desc>
                    <defs>
                        <clipPath id="clip105_98">
                            <rect id="file-add" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
                        </clipPath>
                    </defs>
                    <rect id="file-add" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
                    <g clip-path="url(#clip105_98)">
                        <path id="Vector" d="M16.25 25L20 25C21.38 25 22.5 23.88 22.5 22.5L22.5 12.5L22.5 12.28C22.5 11.62 22.23 10.98 21.76 10.51L16.98 5.73C16.51 5.26 15.87 5 15.21 5L15 5L10 5C8.61 5 7.5 6.11 7.5 7.5L7.5 16.25M22.5 12.5L17.5 12.5C16.11 12.5 15 11.38 15 10L15 5M7.5 28.12L7.5 25L7.5 21.87M7.5 25L4.37 25M7.5 25L10.62 25" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
                    </g>
                </svg>

                Create
                      </div>

                      <span class="notification-number updates">3</span>
                     </a>
                    </div>
                   </div>









   <div class="side-wrapper">
    <div class="side-title">Category files</div>
    <div class="side-menu">
     <a href="#" >
      <div class="img-content">
       <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<clipPath id="clip105_78">
			<rect id="files" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="files" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_78)">
		<path id="Vector" d="M25 11.25L20 11.25C18.61 11.25 17.5 10.13 17.5 8.75L17.5 3.75M25 21.25C25 22.63 23.88 23.75 22.5 23.75L12.5 23.75C11.11 23.75 10 22.63 10 21.25L10 6.25C10 4.86 11.11 3.75 12.5 3.75L17.71 3.75C18.37 3.75 19.01 4.01 19.48 4.48L24.26 9.26C24.73 9.73 25 10.37 25 11.03L25 21.25Z" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
		<path id="Vector" d="M10 7.5L8.75 7.5C7.36 7.5 6.25 8.61 6.25 10L6.25 25C6.25 26.38 7.36 27.5 8.75 27.5L18.75 27.5C20.13 27.5 21.25 26.38 21.25 25L21.25 23.75" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
	</g>
</svg>

       All files
      </div>

     </a>
     <a href="#">
      <div class="img-content">
      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

	<defs>
		<clipPath id="clip105_81">
			<rect id="inbox" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="inbox" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_81)">
		<path id="Vector" d="M23 6.84C22.7 5.75 21.71 5 20.59 5L9.4 5C8.28 5 7.29 5.75 6.99 6.84L3.75 18.75L3.75 23.75C3.75 24.44 4.3 25 5 25L25 25C25.69 25 26.25 24.44 26.25 23.75L26.25 18.75L23 6.84ZM26.25 18.75L21.18 18.75C20.82 18.75 20.48 18.9 20.25 19.16L18.18 21.46C17.94 21.72 17.61 21.87 17.25 21.87L12.74 21.87C12.38 21.87 12.05 21.72 11.81 21.46L9.74 19.16C9.51 18.9 9.17 18.75 8.81 18.75L3.75 18.75" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000"/>
	</g>
</svg>

       Recent
      </div>

     </a>
     <a href="#">
      <div class="img-content">
      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

	<defs>
		<clipPath id="clip105_83">
			<rect id="star" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="star" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_83)">
		<path id="Vector" d="M24.9 11.76L20.14 11.76C19.05 11.76 18.09 11.05 17.76 10.01L16.19 5.02C15.82 3.86 14.17 3.86 13.8 5.02L12.23 10.01C11.9 11.05 10.94 11.76 9.85 11.76L5.09 11.76C3.88 11.76 3.38 13.31 4.35 14.02L8.59 17.1C9.51 17.77 9.86 18.96 9.45 20.02L7.62 24.8C7.17 25.96 8.51 26.99 9.52 26.26L13.52 23.34C14.4 22.71 15.59 22.71 16.47 23.34L20.47 26.26C21.48 26.99 22.82 25.96 22.37 24.8L20.54 20.02C20.13 18.96 20.48 17.77 21.4 17.1L25.64 14.02C26.61 13.31 26.11 11.76 24.9 11.76Z" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000"/>
	</g>
</svg>

       Favorites
      </div>

     </a>
    </div>
   </div>
   <div class="side-wrapper">
    <div class="side-title">Folders</div>
    <div class="side-menu">
    <a href="#">
      <div class="img-content">
      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<desc>
			Created with Pixso.
	</desc>
	<defs>
		<clipPath id="clip105_91">
			<rect id="folders" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="folders" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_91)">
		<path id="Vector" d="M10 5L14.4 5C15.41 5 16.32 5.6 16.71 6.54L16.85 6.89C17.24 7.82 18.15 8.43 19.16 8.43L25 8.43C26.38 8.43 27.5 9.55 27.5 10.93L27.5 20C27.5 21.38 26.38 22.5 25 22.5L10 22.5C8.61 22.5 7.5 21.38 7.5 20L7.5 7.5C7.5 6.11 8.61 5 10 5Z" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000"/>
		<path id="Vector" d="M7.5 8.75L6.25 8.75C4.86 8.75 3.75 9.86 3.75 11.25L3.75 23.75C3.75 25.13 4.86 26.25 6.25 26.25L21.25 26.25C22.63 26.25 23.75 25.13 23.75 23.75L23.75 22.5" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
	</g>
</svg>

       All Folders
      </div>

     </a>
    </div>
   </div>
   <div class="side-wrapper">
    <div class="side-title">General Access</div>
    <div class="side-menu">
      <a href="#">
      <div class="img-content">
      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

	<defs>
		<clipPath id="clip105_85">
			<rect id="affiliate" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="affiliate" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_85)">
		<path id="Vector" d="M8.23 15.82L6.8 9.83M12.95 17.04L22.02 7.97M18.87 23.12L14.12 21.87M9.37 25.62C6.61 25.62 4.37 23.38 4.37 20.62C4.37 17.86 6.61 15.62 9.37 15.62C12.13 15.62 14.37 17.86 14.37 20.62C14.37 23.38 12.13 25.62 9.37 25.62ZM6.25 10C4.86 10 3.75 8.88 3.75 7.5C3.75 6.11 4.86 5 6.25 5C7.63 5 8.75 6.11 8.75 7.5C8.75 8.88 7.63 10 6.25 10ZM23.75 8.75C22.36 8.75 21.25 7.63 21.25 6.25C21.25 4.86 22.36 3.75 23.75 3.75C25.13 3.75 26.25 4.86 26.25 6.25C26.25 7.63 25.13 8.75 23.75 8.75ZM21.25 26.25C19.86 26.25 18.75 25.13 18.75 23.75C18.75 22.36 19.86 21.25 21.25 21.25C22.63 21.25 23.75 22.36 23.75 23.75C23.75 25.13 22.63 26.25 21.25 26.25Z" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
	</g>
</svg>
       Files
      </div>


     </a>
      <a href="#" >
      <div class="img-content">
      <svg width="30.000000" height="30.000000" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<desc>
			Created with Pixso.
	</desc>
	<defs>
		<clipPath id="clip105_87">
			<rect id="archive" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
		</clipPath>
	</defs>
	<rect id="archive" rx="0.000000" width="29.000000" height="29.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
	<g clip-path="url(#clip105_87)">
		<path id="Vector" d="M25 10C25.69 10 26.25 9.44 26.25 8.75L26.25 7.5C26.25 6.8 25.69 6.25 25 6.25L5 6.25C4.3 6.25 3.75 6.8 3.75 7.5L3.75 8.75C3.75 9.44 4.3 10 5 10L25 10ZM5 10L5 21.25C5 22.63 6.11 23.75 7.5 23.75L22.5 23.75C23.88 23.75 25 22.63 25 21.25L25 10M11.87 16.25L18.12 16.25" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="2.300000" stroke-linecap="round"/>
	</g>
</svg>

       Folders
      </div>

     </a>
    </div>
   </div>
  </div>