@import "https://sethburkart123.github.io/sf-pro-fonts/fonts.css";
:root {
  --body-font: "SF Pro Display", sans-serif;
}

body {
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--body-font);
}



.Telo {
    position: relative;
    width: 90vw;  /* 1659px / 1920px */
    height: 46.25vw; /* 752px / 1920px */

}

.Telo svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.window{
position: absolute;
width: 100%;
height: 80%;
top: 0%;
left: 0.4%;
box-sizing: border-box;
border: 2px solid rgb(255, 255, 255)
}

h1 {
    position: absolute;
    color: #FFF;
    font-size: 750%;
    font-weight: 900;
    line-height: 9.2%;
    letter-spacing: 0.04em;
    z-index: 2;
    left: 4%;
    top: 25%;
    width: 80%;
}

.text {
    position: absolute;
    left: 4%;
    top: 49%;
    width: 75%;
    height: 50%;
    h2 {


    color: rgb(255,255,255);
    font-size: 120%;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: 0.11em;
    z-index: 2;
    left: 9.8%;
    top: 25.7%;
    width: 130%;
    margin-bottom: 15px

}
}

.start-btn {
    position: absolute;
    width: 16%;
    height: 6.7%;
    background: transparent;
    color: #FFF;
    border: 0.104vw solid #FFF;
    border-radius: 0.208vw;
    font-size: 1.25vw;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
    right: 14.53vw;
    bottom:20%;
    transform: translateY(50%);
   a{
    color: rgb(255, 255, 255);
font-family: SF Pro Display;
font-size: 19px;
font-weight: 700;
line-height: 35px;
letter-spacing: 4%;

padding-left: 25%;
top: 20%

    }

}

.start-btn:hover {
    background: #FFF;
    color: #000;
}

.footer-container {
    position: fixed;
    bottom: 2.08vw;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    color: white;
}

.line_1 {
    width: 100%;
    margin: 0.63vw 0;
    border: 0.1vw solid #FFF;
}

.footer-text {
    text-align: left;
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 1.93;
    letter-spacing: 0.04em;
}